@tailwind base;
@tailwind components;
@tailwind utilities;

.title-gradient {
    @apply text-3xl font-extrabold tracking-wide italic;
    font-family: 'Orbitron', sans-serif; /* Application de la police Orbitron */
    background: linear-gradient(to right, #1e3a8a, #3b82f6);
    -webkit-background-clip: text;
    color: transparent;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.btn-edit {
    background: linear-gradient(135deg, #0062E6, #33AEFF);
    border: 2px solid #004BA0;
    color: white;
    @apply rounded-full;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.btn-edit:hover {
    background: linear-gradient(135deg, #0052C4, #2790E0);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}
.btn-cancel {
    background: linear-gradient(135deg, #9CA3AF, #6B7280);
    border: 2px solid #4B5563;
    color: white;
    @apply rounded-full;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.btn-cancel:hover {
    background: linear-gradient(135deg, #6B7280, #4B5563);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}


